<form>
	<div class="form-group">
	 <label>Quiz Category</label>
	 <select class="form-control">
		<option><%= link_to 'swiming',activities_path %></option>
		
		</select>
	</div>

</form>

<strong><%= link_to 'Back',address_Home_path %></strong>