<h2>happy to see you !</h2>

<p><strong>Move and Groove</strong> will help you to keep record of your traning sessions in different activities you will do and it will help you to  improve your work according to the result of your old activities recorded here. You will be able to enter your record every where you are and you will also be able to look on it in the future to see your improvments you did since your starting days.</p>

<strong><%= link_to 'Back',address_Home_path %></strong>