<form>
	<div class="form-group">
	 <label>name</label>
	 <input type="text" name="Name">
	</div>
	<div class="form-group">
	 <label>Email</label>
	 <input type="text" name="Email">
	</div>
	<div class="form-group">
	 <label>Informations</label>
	 <input type="text-area" name="Informations">
	</div>

	<button type="button" name="Submit">Submit</button>

</form>


<strong><%= link_to 'Back',address_Home_path %></strong>
