// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.nav{
	font-size:20px;
	background-color:red;
	color:black;

}
.navbar-brand{
	color:blue;
}
#title{
	color:green
}
h4{
	color:blue;
}

body{
	padding-top:10px;
	margin-bottom:10px;
}