// Place all the styles related to the Activities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.navbar{
	font-size:20px;
	color:red;

}
.navbar-brand{
	color:blue;
}
#title{
	color:green
}
h4{
	color:blue;
}

body{
	padding-top:10px;
	margin-bottom:10px;
}
h3{
	color:red;
}
navbarfixed-bottom{
	margin-top:20px;
}
.navbar-collapse{
    color:rgb(0,0,0);
}

